* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto 0 auto;
  font-family: 'Raleway';
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.746);
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  border: solid 0.5px #bebebe;
  margin-top: 20px;
}

table th {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-weight: bold;
  padding: 20px;
  color: #4b63cc;
  border-bottom: solid 1px black;
  border-top: none;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 10px;
  color: #404040;
  font-size: 18px;
}

.content table {
  max-height: 500px;
  overflow: auto;
}

main {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 25px;
  overflow: auto;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 25px;
}

.pages {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.pages ul {
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.pages ul li {
  background-color: #fefefe;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: .5px solid;
  border-color: #5f80f5;
  text-align: center;
  margin: 2px;
  font-family: 'Raleway';
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.pages p {
  font-size: 40px;
  font-weight: bold;
  color: rgba(58, 56, 56, 0.322);
}
/*# sourceMappingURL=style.css.map */