*
    box-sizing: border-box
    padding: 0
    margin: 0 auto 0 auto
    font-family: 'Raleway'

body
    height: 100vh
    width: 100vw
h1

    text-align: center
    color: rgba(0, 0, 0, 0.746)
    margin-bottom: 10px

table
    border-collapse: collapse
    font-size: 14px
    border: solid 0.5px #bebebe
    margin-top: 20px

    th
        box-sizing: content-box
        font-weight: bold
        padding: 20px
        color: rgb(75, 99, 204)
        border-bottom: solid 1px rgba(0, 0, 0, 1)
        border-top: none

    tr:nth-child(odd)
        background-color: #ffffff

    td
        width: fit-content
        padding: 15px 10px
        color: #404040
        font-size: 18px

.content table

    max-height: 500px
    overflow: auto

main
    position: fixed
    top: 75px
    left: 0
    right: 0
    bottom: 0
    padding-top: 25px
    overflow: auto

#search
    display: flex
    width: 150px
    height: 25px

        

.pages
    margin: 10px auto
    display: flex
    padding: 0

    ul
        margin: 0 auto
        list-style: none
        display: flex
        padding: 0

        li
            background-color: #fefefe
            width: 35px
            height: 35px
            line-height: 35px
            border: .5px solid
            border-color: #5f80f5
            text-align: center
            margin: 2px
            font-family: 'Raleway'
            font-size: 14px
            letter-spacing: 2px
            border-radius: 5px
            cursor: pointer
    p
        font-size: 40px
        font-weight: bold
        color: rgba(58, 56, 56, 0.322)
