* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto 0 auto;
  font-family: 'Raleway';
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.746);
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  border: solid 0.5px #bebebe;
  margin-top: 20px;
}

table th {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-weight: bold;
  padding: 20px;
  color: #4b63cc;
  border-bottom: solid 0.5px black;
  border-top: none;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 10px;
  color: #404040;
  font-size: 18px;
}

.content table {
  max-height: 500px;
  overflow: auto;
}

main {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 25px;
  overflow: auto;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 25px;
}

.pages {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.pages ul {
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.pages ul li {
  background-color: #fefefe;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: .5px solid;
  border-color: #5f80f5;
  text-align: center;
  margin: 2px;
  font-family: 'Raleway';
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.pages p {
  font-size: 40px;
  font-weight: bold;
  color: rgba(58, 56, 56, 0.322);
}

.ValiderBtn {
  font-size: 12px;
  cursor: pointer;
  background-color: #353535;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5.5px;
}

.formationContainer {
  padding: 10px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* Custom Select */
.formationSelect {
  width: 25em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}

select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .5em;
  color: rgba(0, 0, 0, 0.746);
  cursor: pointer;
}

select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.confirm {
  margin: 10px auto 10px auto;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #202020;
  border-radius: 10px;
  margin: 150px auto;
  width: 500px;
  height: 100px;
  padding: 20px 10px 20px 10px;
  color: #FFF;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.BtnConfirmValider {
  color: green;
  height: 30px;
  width: 30px;
}

.BtnConfirmAnnuler {
  color: red;
  height: 30px;
  width: 30px;
}
/*# sourceMappingURL=style.css.map */